<!-- <app-blue></app-blue> -->
<!-- <app-red></app-red> -->
<!-- <app-yellow></app-yellow> -->
<!-- <app-twoway-binding></app-twoway-binding> -->
<!-- <app-binding></app-binding> -->
<!-- <app-list-employess></app-list-employess> -->
<!-- <app-eventbinding></app-eventbinding> -->
<!-- <app-structural-directives></app-structural-directives> -->

<!-- <div class='container'>
    <h3 class="mx-auto">Parent screen msg from - {{message}}</h3>
    <app-cmp-iteraction (childEvent)="message=$event" [parentData]="sendToChild"></app-cmp-iteraction>
</div> -->

<!-- <div class="container">
    <app-pipes-example></app-pipes-example>
</div> -->

<div class="container">
    <app-service-example></app-service-example>
</div>

<router-outlet></router-outlet>