<p class="pt-2">pipes-example works!</p>
<div class="pt-3">
    <h6>strings displayed</h6>
    <h6>This is upper Text : {{upperText | lowercase}}</h6>
    <h6>This is lower Text : {{lowerText | uppercase}}</h6>
    <h6>This is lower Text : {{titleText | titlecase}}</h6>
    <h6>Slice Text : {{upperText | slice:1}}</h6>
    <h6>Slice limitation Text : {{upperText | slice:1:3}}</h6>
    <h6>Json data : {{data | json}}</h6>
    <h6>Number format -1 : {{5.23 | number: '2.1-2'}}</h6>
    <h6>Number format -2 : {{5.2 | number: '3.2-3'}}</h6>
    <h6>Number format -3 : {{5.67868 | number: '0.1-3'}}</h6>
    <h6>Number format -3 : {{5 | number: '5.1-3'}}</h6>
    <h6>percentage format: {{5 | percent}}</h6>
    <h6>currency format default US dollor: {{ 578 | currency}}</h6>
    <h6>currency with passing argument: {{1000000 | currency: 'INR'}}</h6>
    <h6>currency with passing argument: {{1000000 | currency: 'INR': 'code'}}</h6>
    <h6>date format: {{ currentDate | date}}</h6>
    <h6>date short format: {{ currentDate | date : 'short'}}</h6>
    <h6>date short Date format: {{ currentDate | date : 'shortDate'}}</h6>
    <h6>date short Time format: {{ currentDate | date : 'shortTime'}}</h6>
</div> 
